<section class="game">
    <article class="row">
		<img class="game-img-title"
			aria-hidden="true" slot="start" alt=""
			[src]="environment.web.host + '/assets/logos/games/' + data.code + '-title.svg'">
      	<img class="game-img"
			aria-hidden="true" slot="start" alt="" 
			[src]="environment.web.host + '/assets/logos/games/' + data.code + '.svg'">
		<section class="game-data">
			<span class="game-data-date" color="medium">{{ data.date | date | async }}</span>
		</section>
    </article>
    <article class="row">
      <section class="game-more">
				@if(primerPremio) {
					<article class="game-more-item game-more-best-prize-first">
						<ion-label [ngClass]="'game-more-best-prize-first-number'"><span class="ball">{{ primerPremio.number.substring(1) }}</span></ion-label>
						<ion-label [ngClass]="'game-more-best-prize-first-quantity'" slot="end">{{ primerPremio.quantity / 100 | currency:'EUR' | async }}</ion-label>
					</article>
				}
				@if(segundoPremio) {
					<article class="game-more-item game-more-best-prize-second">
						<ion-label [ngClass]="'game-more-best-prize-second-number'"><span class="ball">{{ segundoPremio.number.substring(1) }}</span></ion-label>
						<ion-label [ngClass]="'game-more-best-prize-second-quantity'" slot="end">{{ segundoPremio.quantity / 100 | currency:'EUR' | async }}</ion-label>
					</article>
				}
				<article class="game-more-item">
					<ion-label [ngClass]="'game-more-best-prize-third-number'">
						@if(primerReintegro) {
							<span class="ball">{{ primerReintegro.number }}</span>
						}
						@if(segundoReintegro) {
							<span class="ball">{{ segundoReintegro.number }}</span>
						}
						@if(tercerReintegro) {
							<span class="ball">{{ tercerReintegro.number }}</span>
						}
					</ion-label>
					<ion-label [ngClass]="'game-more-best-prize-third-quantity'" slot="end">{{ primerReintegro.quantity / 100 | currency:'EUR' | async }}</ion-label>
				</article>
      </section>
    </article>
</section>