<ion-content class="container">
    <section class="game">
        @if(game && game._id) {
            <app-game-ln [data]="game"></app-game-ln>
        }
        <article class="search">
            <ion-input maxlength="5"
                [ngClass]="{'error': !showSearchLoading && searchValue.length && (searchValue.length < minSearchLength)}"
                type="tel"
                placeholder="{{ 'GLOBAL.SEARCH' | translate }}" 
                (ionInput)="handleInput($event)"
                [(ngModel)]="searchValue" 
                (keypress)="showSearchLoading = true"
                (keyup)="showSearchLoading = true"
                [debounce]="debounce">
                @if (showSearchLoading) {
                    <ion-spinner class="search-icon" slot="start" name="dots" aria-hidden="true"></ion-spinner>
                } @else if (!results.length && !searchValue.length) {
                    <ion-icon class="search-icon" slot="start" name="search" aria-hidden="true"></ion-icon>
                } @else if (results.length && searchValue.length < 5 && searchValue.length >= minSearchLength) {
                    <ion-icon class="search-icon" slot="start" name="checkmark-outline" aria-hidden="true"></ion-icon>
                } @else if (!results.length && searchValue.length < minSearchLength) {
                    <ion-icon class="search-icon" slot="start" name="alert-outline" aria-hidden="true"></ion-icon>
                } @else if (!results.length && searchValue.length) {
                    <ion-icon class="search-icon" slot="start" name="file-tray-outline" aria-hidden="true"></ion-icon>
                } @else {
                    <ion-icon class="search-icon" slot="start" name="checkmark-done-outline" aria-hidden="true"></ion-icon>
                }
                @if (searchValue.length) {
                    <ion-icon class="search-icon" slot="end" name="close" aria-hidden="true" (click)="clearSearch()"></ion-icon>
                }
            </ion-input>
        </article>
        @defer {
            <ion-list class="result-list">
                @if(results.length) {
                    @for (result of results; track $index) {
                    <ion-item class="result-list-prize">
                        <ion-label [ngClass]="'result-list-prize-number-' + $index"><span class="ball">{{ result.number.substring(1) | translate }}</span></ion-label>
                        <ion-label [ngClass]="'result-list-prize-quantity-' + $index" slot="end">{{ result.quantity / 100 | currency:'EUR' | async }}</ion-label>
                    </ion-item>
                    }
                }
            </ion-list>
        }
    </section>
</ion-content>