@import '../../../../styles/variables.scss';

:host {
  display: block;
  width: 100%;

  .game {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 7px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border: thin solid var(--pr-primary);

    .row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }

    &-img-title {
      position: absolute;
      width: 100px;
      top: -25px;
    }

    &-img {  
      position: absolute;
      opacity: 0.15;
      width: 300px;
      top: -20px;
      left: -70px;
      rotate: 20deg;
    }

    &-data {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-date {
        margin-bottom: 15px;
        text-align: right;
        font-size: 14px;
        color: var(--pr-primary);
        font-weight: bold;
      }
    }

    &-more {
      width: 100%;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        font-size: 14px;

        &-combination {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &-complementary {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          &.strong {
            font-weight: bold;
          }
        }

        &-joker {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          &.strong {
            color: var(--joker-primary);
            font-weight: bold;
          }
        }
      }

      .ball {
        background: var(--pr-primary);
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 10px;
        
        &-joker {
          background-color: var(--joker-primary);
        }
      }

      .joker {
        width: 40px;
        height: 40px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      .person {
        width: 24px;
      }
    }
  }
}
